body{
    margin:0;
    font-family:sans-serif;
}

.container{
    width:85%;
    margin:0 auto;
}

header{
    background: #000000;
    z-index: 2;
    position: absolute ;
    width: 100% ;
    display: flex ; 
    justify-content: space-between ;
   
}
header::after{
    content:"";
    display:table;
    clear: both;
}
head{
    float:left;
}

nav{
    float: right;
    display: flex ; 
    margin-right: -15px ;
}
nav ul{
    margin:0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 7px;
    padding-top: 20px;
}

nav a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

nav a:hover{
    color: #000000;
}